<h1>Today I have</h1>

<div data-controller="modale">
  <%= link_to "home", root_path %>
  <span data-action="click->modale#show">"new update"</span>

  <% if @post.errors.any? %>
    <p><%= @post.errors.full_messages %></p>
  <% end %>

  <div data-modale-target="updateForm">
    <%= form_for @post do |f| %>
      <%= f.label :content %>
      <%= f.text_area :content %>
      <select id="input-tags" name="tag[]" multiple placeholder="Select a tag..." autocomplete="off">
        <option value="">Select a tag...</option>
        <% @tags.each do |tag| %>
          <option value="<%= tag.title %>"><%= tag.title %></option>
        <% end %>
      </select>
      <%= f.submit "submit" %>
    <% end %>
  </div>
</div>

<% @posts.keys.each do |date| %>
  <h3><%= date %></h3>
  <% @posts[date].each do |post| %>
    <p><%= post.user.nickname %> ...</p>
    <p><%= post.content %></p>
    <p>tags: </p>
    <% post.tags.each do |tag| %>
      <%= tag.title %>
    <% end %>
  <% end %>
<% end %>

<script>
  new TomSelect("#input-tags",{
    persist: false,
    createOnBlur: true,
    create: true
  });
</script>
